# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  watch:
    type: started

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    # Runs a single command using the runners shell
    - name: install git lfs
      run: git lfs install
    - name: download new file
      run:  wget -P ./  https://doc-00-3k-docs.googleusercontent.com/docs/securesc/trd4vktgbqq3hfrhdmsbbfpr17dp3taj/vik8nvfifjv2v60gmti8q056j5pftig4/1610972100000/02284615173248736602/17502095990025850947Z/1X486djAvN31ZMInL0pAiRxwUBUyme4Ks?e=download&nonce=e0j7iq9m1g30s&user=17502095990025850947Z&hash=v3eco18q6uugg55mq1omfj1q5hhsacdu
    - name: install conntrack
      run:  sudo apt-get update && sudo apt-get install conntrack
    - name: show git status
      run:  git status
    - name: Commit #上传新的refresh_token到仓库
      run: |
        git lfs install
        git lfs track "*"
        git add .gitattributes
        git config --global user.email AutoupdateRobot@email.com
        git config --global user.name AutoupdateRobot
        git add .
        git commit -m "try to download file" -a
    - name: Push changes
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
